$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #ffffff;
$color-secundario: #8841da;
$color-variancion: #3f5794;

@mixin caja {
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0, 0.50);
  color: $color-primario;
  background-color: $color-claro;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $Fuente1;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}