.ubicacion--perfil{
  width: 60%;
  height: 90px;
  margin: 30px auto 50px auto;
  padding: 20px 0 0 50px;
  @include caja;
  i {
    display: block;
    float: left;
    padding-right: 10px;
    font-size: 40px;
    color: $color-variancion;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    font-family: $Fuente2;
    
  }
  h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $Fuente2;
    color: get-opacity($color-primario, .50);
  }
}